<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="app.css" />
    <title>VueJS</title>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(55774969, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <!-- /Yandex.Metrika counter -->
    <title>Создание карты с местоположением пользователя</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--
        Укажите свой API-ключ. Тестовый ключ НЕ БУДЕТ работать на других сайтах.
        Получить ключ можно в Кабинете разработчика: https://developer.tech.yandex.ru/keys/
    -->
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=<3ae65a79-07c4-4d1b-a78f-1436f8e08076" type="text/javascript"></script>
    <script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
    <script src="geolocated_map.js" type="text/javascript"></script>
    <style>

        html, body, #map {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
    <noscript><div><img src="https://mc.yandex.ru/watch/55774969" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

    <div class="container pt-5" id="app">
        <div class="row mb-3">
            <div class="col">
                <h1>Cars application</h1>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="search">Find your car</label>
                    <input type="text"
                           class="form-control"
                           id="search"
                           placeholder="Name, model"
                           v-model="search" />
                </div>

                <hr />

                <ul class="list-group">
                    <li v-for="(car, index) of filteredCars"
                        class="list-group-item list-group-item-action pointer"
                        @click="selectCar(index)"
                        :class="{'active': selectedCarIndex === index}">
                        {{ car.name }} - {{car.model}}
                    </li>
                </ul>
            </div>
            <div class="col-md-8 pt-3">
                <div class="row">
                    <div class="col-md-5">
                        <h2>{{ car.name }}</h2>
                        <img :src="car.image"
                             :alt="car.name"
                             class="rounded detailed-car-image" />
                    </div>
                    <div class="col-md-7 pt-2">
                        <h5>Car details</h5>

                        <ul>
                            <li>Model - <strong>{{ car.model }}</strong></li>
                            <li>Year - <strong>{{ car.year }}</strong></li>
                            <li>Owner - <strong>{{ car.owner }}</strong></li>
                        </ul>
                        <div class="phone-block">
                            <p v-if="phoneVisibility">{{ car.phone }}</p>
                        </div>
                        <button class="btn btn-outline-success mr-3"
                                @click="phoneVisibility = !phoneVisibility"
                                v-text="phoneBtnText">
                        </button>
                        <button class="btn btn-primary" @click="modalVisibility = true">Buy</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="row" v-if="logs.length !== 0">
            <div class="col-md-12">
                <ul class="list-group">
                    <li v-for="log in logs"
                        class="list-group-item list-group-item-secondary">
                        {{ log.text }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal fade show" v-if="modalVisibility" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Do you want to by this car?</h5>
                        <button type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                                @click="modalVisibility = false">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Current car - <strong>{{ car.name }}</strong></p>

                        <ul>
                            <li>Model - <strong>{{ car.model }}</strong></li>
                            <li>Year - <strong>{{ car.year }}</strong></li>
                            <li>Owner - <strong>{{ car.owner }}</strong></li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                                @click="cancelOrder">
                            Cancel
                        </button>
                        <button type="button"
                                class="btn btn-primary"
                                @click="newOrder">
                            Buy
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-backdrop fade show" v-if="modalVisibility"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="app.js"></script>
    <div id="map"></div>
</body>
</html>